body 
{   background-color:black;
    font-family:arial;
    color:white
}

h1
{
    color:grey;
    font-family:verdana;
    margin-bottom: 32px;
}


.maindiv{

    margin:auto;
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    align-items: center;
    border-radius: 25px;

}

.smalldiv{
    margin: auto;
    width: 65%;

}

